.education {
    width: 100%;
}

.education-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.education-info {
    text-align: right;
}

.uaf-image {
    max-height: 10vw;
}

.summary-text {
    margin: 10px auto;
}

.summary-divider {
    margin: 10px 10%;
}
