@import 'breakpoints';
@import 'mixins';

.card-list {
    width: 100%;
}

.experience-text-div {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.company-logo-img {
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
}

.bullet-points {
    margin-top: 10px;
}

ul {
    @include media-query($tablet-breakpoint) {
        list-style-type: disc;
        padding-left: 20px;
    }
}

li {
    @include media-query($tablet-breakpoint) {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

.bullet-points li {
    @include media-query($tablet-breakpoint) {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
