@import 'breakpoints';
@import 'mixins';

.home {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-query($tablet-breakpoint) {
        text-align: center;
    }
    
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none;
}

.about-link {
    text-decoration: underline;
    color: black;
    &:hover {
        cursor: pointer;
    }
}