.home {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-link {
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}