.projects {
    width: 100%;
}

.project-title {
    text-decoration: underline;
}

.project-card {
    margin-top: 100px;
}

.project-preview-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.github-link {
    padding-top: 20px;
}